<div id="<%= dom_id contact %>">
  <p>
    <strong>User:</strong>
    <%= contact.user_id %>
  </p>

  <p>
    <strong>Contact type:</strong>
    <%= contact.contact_type %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= contact.number %>
  </p>

</div>
