<h1>Editing castordian</h1>

<%= render "form", castordian: @castordian %>

<br>

<div>
  <%= link_to "Show this castordian", @castordian %> |
  <%= link_to "Back to castordians", castordians_path %>
</div>
